RewriteEngine On

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f

RewriteRule ^([0-9a-zA-Z]+)/([0-9a-zA-Z]+)$ index.php?controller=$1&action=$2 [QSA,L]
RewriteRule ^([0-9a-zA-Z]+)/([0-9a-zA-Z]+)/([0-9a-zA-Z\-]+)$ index.php?controller=$1&action=$2&id=$3 [QSA,L]
	